/* Description */
#description {
  margin-left: 10%;
  margin-right: 10%;
}
#description p{
  /* margin: auto; */
  justify-self: center;
  text-align: justify;
  max-width: 900px;
}

/* Projects Gallery */

.lookbook-gallery {
    width: auto;
    padding-right: 10%;
    padding-left: 10%;
  }
  
  .lookbook-grid {
    display: flex;
    flex-flow: row wrap;
    column-gap: 30px;
    row-gap: 30px;
  }
  
  .work_grid_cell {
    transition: transform 0.3s ease; /* Smooth scaling on hover */
    width: fit-content;
    position: relative;
    margin: auto;
  }
    
  .work_grid_cell:hover .overlay {
    opacity: 0.9; /* Show the overlay on hover */
    background-color: var(--eerie-black);
  }
  
  .work_grid_cell .overlay {
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding-left: 5%;
    padding-right: 5%;
    height: 100%;
    /* align-content: center; */
    align-self: baseline;
    text-align: center;
    justify-items: center;
    opacity: 0; /* Start with the overlay hidden */
    transition: opacity 0.3s ease; /* Smooth transition */
    border-radius: 2%;
  }



  .model {
    text-align: center;
    display: inline-block;
    width: fit-content;
    margin: 0;
    padding: 0;
    position: relative;
  }
  
  .model-hed-link {
    color: var(--mindaro);
    text-decoration: none;
  }
  
  .model-hed {
    width: 100%;
    text-align: center;
  }
  
  .link_with_icon_index {
    text-decoration: none;
    color: inherit;
    margin-right: 0.5em;
    font-size: 24px;
    text-align: center;
    display: inline-block;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  
  .link_with_icon_index img {
    width: 340px;
    /* max-width: 400px;
    min-width: 250px; */
  }

  figcaption p, figcaption li{
    font-size: 13px;
    text-align: center;
  }
